<section id="footer">
  <div class="container-flex">
    <div class="top-footer-bar">

    </div>
    <div class="main-footer">

    </div>
    <div class="bottom-footer-bar">

    </div>
  </div>
</section>








    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/jquery.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="/js/bootstrap.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script src="/js/timeline.js"></script>
    <script src="/js/particles.min.js"></script>
    <script src="/js/main.js"></script>

  </body>
</html>
