<section id="social-media">
  <ul id="ul-social" style="list-style-type: none; padding:5px;">
    <li style="background-color:blue"><center> <a href="#"><i class="fab fa-facebook-f"></i></center></a> </li>
    <li style="background-color:purple"><center> <a href="#"><i class="fab fa-instagram"></i></center></a> </li>
    <li style="background-color:red"> <center><a href="#"><i class="fab fa-youtube"></i></center></a> </li>
    <li style="background-color:aqua"> <center><a href="#"><i class="fab fa-linkedin"></i></center></a> </li>
    <li style="background-color:black"> <center><a href="#"><i class="fab fa-github"></i></center></a> </li>
  </ul>
</section>
