body{
    margin: 0;
    padding: 0;
}

.navbar{
    background: linear-gradient(#1f1d1d,#595757,#595757,#1f1d1d);
}

.nav-link{
    color: white;
}

.nav-link:hover{
    color: #c46868;
}

.active{
    border-bottom: 3px solid #870303;
}

.header{
    background-image: url(images/vit-audiIn.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 300px;
    margin-top: 55px;
}

.header_text{
    padding-top: 45px;
    color: white;
}

.header_text p{
    font-size: 20px;
}

.heading1{
    margin-top: 30px;
    margin-bottom: 10px;
}

.heading1 h2{
    text-decoration: underline;
}

.text{
    margin-left: 30px;
    font-family: Helvetica, Tahoma, Verdana, sans-serif;
}

.website_btn{
    padding: 10px 40px;
    border-radius: 18px;
    outline: none;
    background: linear-gradient(#88ebd3,#66e3c5,#0c7a60);
    margin-top: 20px;
}

.block2,.block3{
    margin-top: 70px;
}

.quote-block{
    border: 1px solid black;
    width: 300px;
    height: 350px;
    margin-top: 50px;
    background-color: #CDB8AC;
}

.quote-block span{
    position: absolute;
    bottom: 25px;
    right: 1;
}

.quotes{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 30px 0px;
}

.underline{
    border: 1px solid black;
    width: 100%;
}

.block3{
    padding-bottom: 80px;
}